<header>
  <nav class="navbar">
    <div class="brand-title">
      <img src="/assets/img/logo.png" alt="SceneJunction Logo">
    </div>
    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="navbar-links">
      <ul>
        <li id="signUpLink"><a href="/sign-up.html">Sign Up</a></li>
        <li id="signInLink"><a href="/sign-in.html">Sign In</a></li>
        <li id="signOutLink"><a href="#" onClick="signOut();">Sign Out</a></li>
      </ul>
    </div>     
  </nav>
</header>